<h1>Epicodus Lessons:</h1>
<br/>
<ul>
  <% @lessons.each do |lesson| %>
  <li> <a href="lessons/<%= lesson.id %>"> <%= lesson.name %> </a></li>
  <% end %>
</ul>

<form action="/lessons/new" method="get">
  <input id="create_lesson_link" type="hidden"></input>
  <button class='btn btn-success'>Create a new Lesson</button>
</form>
